* {
  padding: 0;
  margin: 0;
}
.associate-dashboard {
  background: #effff5;
  font-family: 'Montserrat', sans-serif;
}
.main-header {
  display: flex;
  flex-direction: column;
}
.dash-sub-heading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.dash-sub-heading ul {
  display: flex;
  padding-left: 70px;
  padding-right: 20px;
  flex: 1;
  font-weight: 600;
}
.dash-sub-heading ul li.user-email {
  margin-right: auto;
}
.dash-sub-heading ul li {
  display: block;
  margin-right: 20px;
}
.dash-sub-heading ul li i {
  color: #2f9045;
}
.user-image {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin-right: 70px;
}
.dash-sub-heading ul li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dash-main-heading {
  width: 100%;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  margin-left: 70px;
}

.dash-main-heading button {
  margin-right: 70px;
  padding: 10px 40px;
  color: #fff;
  background: #2f9045;
  border: none;
  border-radius: 30px;
}
.associate-main {
  display: flex;
}
.side-nav {
  background: #2f9045;
  height: 100vh;
  position: fixed;
  width: 20%;
}
.main-section {
  width: 80%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forms-area {
  width: 65%;
  padding: 70px 0;
}
.search-bar {
  width: 100%;
  display: flex;
}
.search-bar input {
  width: 70%;
  padding: 20px;
  border: none;
  font-size: 1rem;
  text-align: center;
  outline: none;
  font-weight: bold;
}
.search-bar button {
  font-size: 1rem;
  width: 30%;
  background: #f4ae00;
  color: #fff;
  font-weight: bold;
  border: none;
}
.other-forms {
  background: #fff;
  padding: 50px;
  border-radius: 30px;
  margin-top: 50px;
}
.other-form {
  display: flex;
  flex-direction: column;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}
.form-buttons button {
  color: #2f9045;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  background: none;
}
.other-forms form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.other-forms form input {
  padding: 20px 10px;
  width: 45%;
  margin-bottom: 20px;
  background: #effff5;
  border: none;
  outline: none;
  font-size: 1rem;
}
.sub-area {
  width: 100%;
  text-align: center;
}
.sub-area button {
  background: #4bae7b;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: 600;
}
.in-other-forms {
  margin-top: 20px;
}
.in-other-forms input {
  border: 2px solid #ccc;
  padding: 10px;
}
.in-other-forms button {
  background: #4bae7b;
}
.checkout {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.checkout button {
  background: #f4ae00;
  padding: 10px 30px;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
